@font-face {
    font-family: "Sao Torpes";
    src: url(MAJJER/SaoTorpes.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ffffff;
    font-family: "Sao Torpes";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: bgToBlack 5s forwards;
}

.intro {
    text-align: center;
    margin-top: 20%;
}

.M {
    color: #f97300;
    font-family: "Sao Torpes";
    font-size: 275px;
    animation: slideUp 3s ease forwards;
    transform: translateY(40px);
    display: inline-block;
}

.A {
    color: #f97300;
    font-family: "Sao Torpes";
    font-size: 275px;
    animation: slideUp 3.5s ease forwards;
    transform: translateY(40px);
    display: inline-block;
}

.J {
    color: #F97300;
    font-family: "Sao Torpes";
    font-size: 275px;
    animation: slideUp 4s ease forwards;
    transform: translateY(40px);
    display: inline-block;
}

.J2 {
    color: #F97300;
    font-family: "Sao Torpes";
    font-size: 275px;
    animation: slideUp 4.5s ease forwards;
    display: inline-block;
}

.E {
    color: #F97300;
    font-family: "Sao Torpes";
    font-size: 275px;
    animation: slideUp 5s ease forwards;
    display: inline-block;
}

.R {
    color: #F97300;
    font-family: "Sao Torpes";
    font-size: 275px;
    animation: slideUp 5.5s ease forwards;
    display: inline-block;
}

@keyframes slideUp {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    40% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-750px);
    }
}

@keyframes bgToBlack {
    0%, 75% {
        background-color: #ffffff;
    }
    100% {
        background-color: #000000;
    }
}

main {
    display: none;
    opacity: 0;
    text-align: center;
    color: #ffffff;
    font-family: "Sao Torpes";
    transition: opacity 2s ease;
}

n {
    display: block;
    opacity: 1;
}
